body, html {
    margin: 0;
    padding: 0;
}

nav {
    /*background-color: #606266;*/
  background-color:#624F82;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  font-family: "Century Gothic", Times, serif; 
}

main{
  max-width: 100%;
}
  h2{
  text-align: left;
  font-weight: bold;
  font-size: 1.25rem;
}

h3{
  font-family: "Papyrus", Times, serif;
  text-shadow: 2px 2px #C19B9B;
  font-size: 30px;
  
}

header{
 /*background-color: #3b2b3b;*/
  background-color: #3F3B6C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  color:  #fff;
  font-family: "Papyrus", Times, serif;
   
}


a:link{
  color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
     /*background-color: #606266;*/
  background-color: #624F82;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  font-family: "Century Gothic", Times, serif; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
  font-family: "Century Gothic", Times, serif; 
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
  background-color:lightblue ;
    display: block;
}
.dropdown:hover .dropbtn{
  background-color:#5d5b96;
}
.dropdown-content a:hover {background-color: #ddd;}


/*search bar*/
.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-container button {
    padding: 3px;
    /* background-color: #606266;*/
  background-color: #624F82;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
   
  
}

 .card {
    width: 187px;
    height: 400px;
   /*background-color:lightsteelblue;*/
   background-color: #A3C7D6;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    display: inline-block;
    vertical-align: top;
  }

  .card img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
  }

  .card h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
    color: #000000;
  }

  .card p {
    display: flex;
    font-size: 18px;
    margin: 20px;
    color: black;
  }

  .card a {
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background-color:blue;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
  }

.button {
   padding: 3px;
    background-color:whitesmoke;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.card:hover {
  animation: tilt-shaking 0.7s ease-in-out;
}


  
/*api */
* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  /*font-family: Arial, sans-serif;*/
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 187px;
  height:400px;
  margin: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  /*overflow: hidden;*/
 /* transition: all 0.3s ease;*/
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  margin:0;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.card-content p {
  text-align:left;
  font-size: 14px;
  margin-left: 1px;
  color: black;
  font-weight:bold;
  font-family: "Javanese Text", Times, serif;
}
.card-title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
  font-family: "Javanese Text", Times, serif;
}


body{
 /*background-color : #5d5b96; */
  background-color: #9F73AB;
} 

footer{
  /*background-color:  #3b2b3b;*/
  background-color: #3F3B6C;
  display: inline-block;
  width:100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color:  #fff;
  font-family: "Papyrus", Times, serif;
}  
